.navbar{
    background-color: #FAF7F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbarItems{
    display: flex;
    flex-direction: row;
}

.navbarItems h3{
    margin-left: 1.2rem;
}

.navbarItems h3:hover{
    color: #C7A17A;
}

.redes{
    margin-right: 1.5rem;
    margin-top: 18.720px;
}

.redes i{
    margin-right: 0.5rem;
    font-size: 20px;
}

.redes i:hover{
    color: #C7A17A;
}