.contenido{
    max-width: 1000px;
    margin: 0 auto 3rem auto;
}
.productos{
    margin-top: 1rem;
}

.imgProducto{
    max-width: 200px;
    max-height: 200px;
    float: left;
    margin-right: 1rem;
}

.tituloProducto, .descripcionProducto, .precioProducto{
    margin-top: 0;
}