.autor{
    text-align: center;
    justify-content: center;
}

.contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 95%;
}

.contenidoPrincipal{
    margin-left: 2rem;
    text-align: center;
    width: 70%;
}

.contenidoSecundario{
    text-align: center;
    width: 20%;
    float: right;
}

.categoriaPublicacion{
    color: #C7A17A;
}

.fechaPublicacion{
    color: #b8b4b0;
}

.imgPublicacion{
    width: 100%;
    height: 400px;
}

.descripcionPublicacion{
    text-align: left;
}

.sobreMi h4, .novelas h4{
    background-color: #FAF7F2;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.imgSobreMi{
    width: 100%;
}

.descripcionSobreMi{
    text-align: left;
}

.seguirLeyendo{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.seguirLeyendo:hover{
    color: #C7A17A;
}

.listaNovelas{
    text-align: left;
    list-style: none;
    padding: 0;
}

